:root{
    --primaria: rgb(0, 247, 255);
    --secundario: rgb(250, 246, 0);
    --terciaria: rgb(255, 255, 0);
    --alta: #27ae60 (Verde para lucros);
    --baixa: #e74c3c (Vermelho para prejuízos);
    --fundo-card: #f4f7f6 (Cinza claro para os cartões);
}